Installer/
__pycache__/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
!?*.[Cc]ache/
!.axoCover/settings.json
!.idea/codeStyles
!.idea/runConfigurations
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!**/[Pp]ackages/build/
.*crunch*.local.xml
.angular
.axoCover/*
.builds
.cache
.cache/
.cr/personal
.directory
.docusaurus
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fake/
.fuse_hidden*
.fusebox/
.grunt
.history
.history/
.idea_modules/
.idea/
.ionide
.ionide/
.localhistory/
.lock-wscript
.mfractor/
.next
.nfs*
.node_repl_history
.npm
.ntvs_analysis.dat
.nuxt
.nyc_output
.paket/paket.exe
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.sass-cache/
.serverless/
.stylelintcache
.svelte-kit
.temp
.tern-port
.Trash-*
.vs/
.vscode-test
.vscode/*
.vshistory/
.vuepress/dist
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim_*.settings
*.bim.layout
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.code-workspace
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.dsp
*.dsw
*.e2e
*.GhostDoc.xml
*.gpState
*.ilk
*.iml
*.iobj
*.ipdb
*.ipr
*.iws
*.jfm
*.jmconfig
*.lcov
*.ldf
*.lnk
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pid
*.pid.lock
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.seed
*.sln.docstates
*.sln.iml
*.snupkg
*.stackdump
*.suo
*.svclog
*.tgz
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.tsbuildinfo
*.tss
*.user
*.userosscache
*.userprefs
*.vbp
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
**/[Pp]ackages/*
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
*~
~$*
$RECYCLE.BIN/
$tf/
AppPackages/
artifacts/
ASALocalRun/
atlassian-ide-plugin.xml
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bld/
bower_components
build/Release
BundleArtifacts/
ClientBin/
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
coverage*.info
coverage*.json
coverage*.xml
crashlytics-build.properties
crashlytics.properties
csx/
dist
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
ehthumbs_vista.db
ehthumbs.db
fabric.properties
FakesAssemblies/
FodyWeavers.xsd
Generated_Code/
Generated\ Files/
healthchecksdb
ipch/
jspm_packages/
lerna-debug.log*
lib-cov
logs
MigrationBackup/
modules.xml
mono_crash.*
nCrunchTemp_*
node_modules/
npm-debug.log*
nunit-*.xml
OpenCover/
orleans.codegen.cs
out
out/
Package.StoreAssociation.xml
paket-files/
pids
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
ScaffoldingReadMe.txt
ServiceFabricBackup/
StyleCopReport.xml
TestResult.xml
Thumbs.db
Thumbs.db:encryptable
UpgradeLog*.htm
UpgradeLog*.XML
web_modules/
x64/
x86/
yarn-debug.log*
yarn-error.log*
